/* Stylesheet by Brendan McCourt */

body {
	background-color: #111111;
}

main {
	color: white;
}

img {
	max-width: 100%
}

header {
	background-color: #111111;
	text-align: center;
	margin: -0.8em;
}

header img {
	height: 70px;
	width: 70px;
}

nav {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	margin-top -1.5em
}

nav ul {
	padding: 2px;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 3px solid grey;
	border-radius: 25px;
	width: 200px;
	display: inline;
}

nav li {
	display: inline-block;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.2em;
	padding: 0.2em;
}

nav li a {
	color: #ffffff;
	text-decoration: none;
}

nav li a:link{
	color: #ffffff;
}

nav li a:visited {
	color: #a9a9a9;
}

nav li a:hover{
	color: #ff0000;
}

input[type=text] {
	width: 20%;
	padding: 6px 10px;
}


select {
	padding: 3px 10px;
}

textarea {
	width: 30%;
	height: 10em;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hidden {
	font-size: .5em;
	color: gray;
}

.desktop {
	display: none;
}

/* Phone */
@media only screen and (min-width: 480px) {
input[type=submit] {
	display: flex;
	width: 30%;
	padding: 3px 10px;
}
input[type=reset] {
	display: flex;
	width: 30%;
	padding: 3px 10px;
}
.schedule {
	display: none;
}
.desktop {
	display: none;
}

/* Tablet */
@media only screen and (min-width: 640px) {

article {
	background-color: #1D1D1C;
	text-align: center;
	width: 100%;
	border-radius: 3em 3em 3em 3em;
}

article img {
	border: solid 0.1em #1D1D1C;
	margin-left: auto;
	margin-right: auto;
}

article p {
	color: #ffffff;
	margin-top: 2%;
	padding: 1%;
	text-align: center;
}

aside {
	background-color: #2A2A2A;
	border-radius: 5em 5em 5em 5em;
	padding: 1.5em;
	margin: 1em;
}

.schedule {
	display: none;
}
.desktop {
	display: inline;
}

/* Desktop */
@media only screen and (min-width: 840px) {

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

tr {
	text-align: center;
}

th, td {
	border: 3px solid grey;
	padding: 1em;
}

th {
	background-color: #ff0d00;
	color: #ffffff;
}
input[type=submit] {
	width: 10%;
	padding: 3px 10px;
}
input[type=reset] {
	width: 10%;
	padding: 3px 10px;
}

.schedule {
	display: inline;
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}
.mobile {
	display: none;
}
}
