/*Brendan McCourt Sept 17, 2019 */

body { 
	color: #FFFFFF;  /*set text color to white*/
	background-color: #C9E4FF; /*set background color to light blue*/
	font-family: Calibri, sans-serif; /*set font to Calibri, or the generic sans-serif font*/
}

#outer-wrapper {	
	width: 90%; /*set width of id="outer-wrapper" to 90%*/
	margin: 0 auto 0 auto; /*center content within id="outer-wrapper"*/
}

header, nav, #content, footer { 
	background-color: #4CA6FF; /*set background color to bright blue*/
	padding: 10px; /*add 10px of padding on all four sides of the wireframe containers*/
}

footer { 
	font-size: 0.75em; /*reduce the font size in the footer*/
	text-align: center; /*center the text in the footer*/
}

img { 
	float: left; /*float the image to the left*/
}

.rightmargin { 
	margin-right: 2%; /*add 2% right margin to class="rightmargin"*/
}

h1, h2, h3 { 
	font-family: Verdana, sans-serif; /* set font in header tags to Verdana's sans-serif */
	padding-top: 1%; /* set padding to 1% */
}
	
li { 
	list-style-type: none; /*set list style type to non */
	display: inline; /*set display to inline*/
}

nav { 
	background-color: #C9E4FF; /*set background color to a light blue*/
}

header { 
	background-color: #4CA6FF; /*set background to a nice blue color*/
	padding: 0 2% 2% 0; /*set the padding levels*/
}

.clearfloat { 
	clear: both; /*set all things tagged with clear float to clear on both ends*/
}